html {
	font-family: 'Artifika', Arial;
	background: url('background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* header */
.header {
	background-color: #262228;
	height: 70px;
	margin: 2px;
	opacity: 0.8;
}

.header .logo {
	float: left;
	height: 60px;
	width: 150px;
	padding-top: 5px;
	padding-left: 10px;
}

.header ul {
	list-style: none;
}

.header ul li {
	line-height: 70px;
	float: right;
	font-size: 40px;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	padding: 0px 40px 0px 40px;
	height: 68px;
}

.header ul li:hover {
	background-color: #eeaa7b;
	height: 70px;
}

/* Nauigation Bar */
.navigation_bar ul{
	list-style: none;
	opacity: 0.8;
}

.navigation_bar ul li {
	background-color: #262228;
	float: left;
	width: 250px;
	border: 1px solid white;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	font-size: 16px;
}

.navigation_bar ul li:hover {
	background-color: #eeaa7b;
}

.navigation_bar ul ul {
	padding-left: 0px;
	display: none;
	opacity: 1;
}

.navigation_bar ul li:hover > ul {
	display: block;
}


/* Body Containers */
.container {
	border: 1px;
	position: relative;
	z-index: -1;
}

.container .news_container {
	float: left;
	width: 32%;
	background-color: #4abdac;
	margin: 4px;
	height: 720px;
	border-radius: 4px;
	opacity: 0.8;
}

.container .fixture_container {
	float: right;
	width: 32%;
	background-color: #0375b4;
	margin: 4px;
	height: 720px;
	border-radius: 4px;
	opacity: 0.8;
}

.container .scroll_tab {
	display: inline-block;
	width: 34%;
	background-color: #dfdce3;
	margin: 4px;
	height: 720px;
	border-radius: 4px;
	opacity: 0.8;
}